

body{
	background-image: url('Images/level1.jpg');
	background-size: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}
div{
	text-align: center;
	margin-top: 15px;
	font-weight:bold;

}
form{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 30%;
	margin-bottom: 50%;
}
form input:nth-child(1){
  	border-radius: 20px;
  	padding: 20px 40px;
  	text-align: center;
  	border: 2px solid #192f38;
  	background-color:#42c2f4;
  	font-style: italic;
  	color: #02141c;
  	font-weight: bold;
  	font-family: 'Catamaran', sans-serif;
}

form input:nth-child(2){
	background-color: #129191;
	border-radius: 30px;
	text-align: center;
	margin-left: 3px;
	padding: 15px;
	border: none;
	font-weight: bold;
	font-family: 'Catamaran', sans-serif;
}

form input:nth-child(2):hover{
	background-color: #062626;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -255px;
  margin-bottom: 90px;
    background-color:#DC3D24;
  float: center;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 35px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 30px;
  font-weight: 10px;
}

#toast.show {
    visibility: visible;
/* safari 4.0, 8.0   */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;  
/*standard syntax    */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* safari 4.0, 8.0  */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
/*standard syntax  */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
/* safari 4.0, 8.0 */
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
/*standard syntax  */
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}